@import 'tailwindcss';
@import './prism-theme.css';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}




@layer base {
  :root {
    --radius: 0.5rem;
    --background: #fbfef5;

    --green-50: #f0f9e8;
    --green-100: #e5f0b0;
    --green-200: #cbdd62;
    --green-300: #aedd66;
    --green-400: #8bb455;
    --green-500: #498428;
    --green-600: #336429;
    --green-700: #2a5222;
    --green-800: #1f3c1a;
    --green-900: #032425;
  }


}

@layer base {
  body {
    background-color: var(--background);
    color: var(--green-900);
  }
}

.prose a {
  color: var(--green-500);
  text-decoration-color: color-mix(in srgb, var(--green-500) 30%, transparent);
  font-weight: 600;
}

.prose a:hover {
  text-decoration-color: var(--green-500)
}

.prose code:not([class*="language-"]) {
  background: color-mix(in srgb, var(--green-200) 50%, transparent);
  color: var(--green-500);
  font-weight: 600;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.prose code::before,
.prose code::after {
  content: "" !important;
}

.text-dark {
  color: var(--green-900);
}

/* 스크롤바 숨기기 */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* line-clamp 유틸리티 */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}